<div class="flex bg-base-200 h-full">
  <div class="m-auto">
    <div class="hero">
      <div class="text-center hero-content">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">
            wildfire
          </h1>
          <p class="py-6">
            <!-- start slipsum code -->
            Now that there is the Tec-9, a crappy spray gun from South Miami.
            This gun is advertised as the most popular gun in American crime. Do
            you believe that shit? It actually says that in the little book that
            comes with it: the most popular gun in American crime. Like they're
            actually proud of that shit.
            <!-- end slipsum code -->
          </p>
          <LinkTo @route="login" class="btn btn-primary">
            login
          </LinkTo>
        </div>
      </div>
    </div>
  </div>
</div>